In [ ]:
# ineuron pandas gives 2d structure data -- easy indexing

In [2]:
import os
import pandas as pd 
df = pd.read_csv("C:/Users/deepa/Downloads/archive/netflix.csv" , header = 0) 
                                                                # take address from properties of file or tab
                                                                # pandas can read everything json , excel , html , api, sql
                                                                # header = 0, None   decides the header line
                                                                # WE CAN USE diff separator by default in csv sep = ','

In [3]:
type(df)                                     # pandas creates a data frame : tabular data structure

pandas.core.frame.DataFrame

data frame concept is similar in spark aslo 
Spark is a framework and set of libraries for parallel data processing. It was created in 2014 to address many of Apache Hadoop's shortcomings, and is much faster than Hadoop for analytic workloads because it stores data in-memory (RAM) rather than on disk.

In [4]:
df.head(10)                     #  head is an inbuilt fx to get 10 rows data
                  # data in pandas are by default indexed ( row and column) : notice 0 , 1 , 2 .. not in original data

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [5]:
df.dtypes                                                #  datatypes of all attributes

title                 object
rating                object
ratingLevel           object
ratingDescription      int64
release year           int64
user rating score    float64
user rating size       int64
dtype: object

In [6]:
df.tail()                                                # by default head() , tail() both give 5 records

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [48]:

# to get all ccolumn names
df.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [51]:

# to get all values of any sinle column
df["rating"]

0      PG-13
1          R
2      TV-14
3      TV-14
4      TV-PG
       ...
995       PG
996       PG
997     TV-G
998     TV-G
999        G
Name: rating, Length: 1000, dtype: object

In [54]:
                                           # list of data is series = [data] = series
type(df["rating"])                         # this time it is pandas series not dataframe
                                           # series is a 1 single record may it be row or column

pandas.core.series.Series

In [55]:
type(df[["rating"]])                       # list of series is data frame =[[data]] = [series]= dataframe
                                           # dataframe is 2d structured data
                                           # thus for multiple columns use list of list

pandas.core.frame.DataFrame

In [56]:
df[["rating"]]

    rating
0    PG-13
1        R
2    TV-14
3    TV-14
4    TV-PG
..     ...
995     PG
996     PG
997   TV-G
998   TV-G
999      G

[1000 rows x 1 columns]

In [58]:
# thus for multiple columns use list of list 
df[["title"  , "rating"]]

                       title rating
0               White Chicks  PG-13
1        Lucky Number Slevin      R
2             Grey's Anatomy  TV-14
3               Prison Break  TV-14
4      How I Met Your Mother  TV-PG
..                       ...    ...
995                  The BFG     PG
996  The Secret Life of Pets     PG
997         Precious Puppies   TV-G
998              Beary Tales   TV-G
999          Growing Up Wild      G

[1000 rows x 2 columns]

In [7]:

df1 = df.head(9)                                            # first 5 records in other dataframe
df1.to_json("jtest.json")                                   # saving dataframe data as json file

In [8]:
pwd()                                                       # for current directory address

'C:\\Users\\deepa\\DATA SCIENCE\\Untitled Folder'

In [9]:
ls                                                          # we can see listdirectoty and json in it is created automaticaly

 Volume in drive C is Acer
 Volume Serial Number is A07A-1E25

 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder


 Directory of C:\Users\deepa\DATA SCIENCE\Untitled Folder

File Not Found

In [10]:
pd.read_json("C:\\Users\\deepa\\DATA SCIENCE\\Untitled Folder\\jtest.json" )            # reading same json data
                                                                            # pandas while reading automatically indexes

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80

In [33]:
# here if we go and see in folder section file has index in it
df1.to_csv("111" )

In [35]:
# here if we go and see in folder section file does not have any index
df1.to_csv("111" , index="False" )

In [40]:
# This removes header as well as index from actual excle
# we can change default separator as well.
df1.to_csv("111", index = "False", header = "False" ,sep="#" )

In [42]:
# we can do analysis and save bare min relevent data of ur choice
# Go check in file
df1.to_csv("111", index = False , columns=["title", "rating"] )

In [ ]:
## we can give coustomised names to columns 
# name = []   in list
#skiprows helps to skip specific rows skips index 1,3,4

pd.read_csv("C:/Users/deepa/Downloads/archive/netflix.csv" ,names = ["A", "B", "C","D","E","F","G","H"], header = None ,
            skiprows=[1,3,4])

In [58]:
# What does Na_values do in Python?
# na_values: This is used to create a string that considers selected values as NaN (Not a Number)
# used to control outlies 
# changes all values = [80,82]= NAN              multiple values in list

pd.read_csv("C:/Users/deepa/Downloads/archive/netflix.csv" , header = None , na_values= [80,82])

,0,1,2,3,4,5,6
0,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
1,White Chicks,PG-13,"crude and sexual humor, language and some drug...",NaN,2004,NaN,NaN
2,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,NaN
3,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,NaN
4,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,NaN
...,...,...,...,...,...,...,...
996,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,NaN
997,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
998,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,NaN
999,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,NaN
1000,Growing Up Wild,G,NaN,35,2016,NaN,NaN

In [ ]:
pd.fx()     #  gives output as a dataframe

In [ ]:
# all the reading part is doen in pandas 
# all the changing fx are done on dataframes df after reading by pandas

In [ ]:
# html pages can also be read 
# reading money contol fii dii activity

In [47]:
#to get all the column names

df.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [68]:
df2 = pd.read_html("https://www.moneycontrol.com/stocks/marketstats/fii_dii_activity/index.php" )

In [69]:
df2

[  Unnamed: 0_level_0  FII Rs Crores                                   \
                 Date Gross Purchase Gross Sales Net Purchase / Sales
 0    Month till date        61229.8     70942.4              -9712.6

    DII Rs Crores
   Gross Purchase Gross Sales Net Purchase / Sales
 0       59636.31    53799.06              5837.25  ,
          Unnamed: 0_level_0  FII Rs Crores                                   \
                        Date Gross Purchase Gross Sales Net Purchase / Sales
             Month till date      61,229.80   70,942.40            -9,712.60
 0  11-Feb-2022  11-Feb-2022        9754.86     9646.33               108.53
 1  10-Feb-2022  10-Feb-2022        8660.61    10393.19             -1732.58
 2  09-Feb-2022  09-Feb-2022        6152.38     7045.02              -892.64
 3  08-Feb-2022  08-Feb-2022        7225.08     9192.97             -1967.89
 4  07-Feb-2022  07-Feb-2022        6281.52     7438.75             -1157.23
 5  04-Feb-2022  04-Feb-2022        5377.41     7645.27             -2267.86
 6  03-Feb-2022  03-Feb-2022        4630.52     6228.06             -1597.54
 7  02-Feb-2022  02-Feb-2022        6001.43     6185.03              -183.60
 8  01-Feb-2022  01-Feb-2022        7145.99     7167.78               -21.79

    DII Rs Crores
   Gross Purchase Gross Sales Net Purchase / Sales
        59,636.31   53,799.06             5,837.25
 0        5537.23     6234.13              -696.90
 1        7853.15     5125.92              2727.23
 2        7021.37     5228.02              1793.35
 3        6674.20     5559.20              1115.00
 4        4644.47     6020.96             -1376.49
 5        6196.26     5574.28               621.98
 6        6089.96     6460.54              -370.58
 7        7713.43     7287.47               425.96
 8        7906.24     6308.54              1597.70  ,
 Empty DataFrame
 Columns: [(Unnamed: 0_level_0, Date), (FII Rs Crores, Gross Purchase), (FII Rs Crores, Gross Sales), (FII Rs Crores, Net Purchase / Sales), (DII Rs Crores, Gross Purchase), (DII Rs Crores, Gross Sales), (DII Rs Crores, Net Purchase / Sales)]
 Index: [],
                  Unnamed: 0_level_0  FII Rs Crores              \
                                Date Gross Purchase Gross Sales
 0        January 2022  January 2022      141177.65   182524.00
 1      December 2021  December 2021      146073.90   181567.49
 2      November 2021  November 2021      204204.04   244105.96
 3        October 2021  October 2021      185566.83   211139.02
 4    September 2021  September 2021      217636.41   216722.64
 ..                              ...            ...         ...
 173        August 2007  August 2007       52479.43    64817.90
 174            July 2007  July 2007       69757.41    61888.56
 175            June 2007  June 2007       45673.87    47035.12
 176              May 2007  May 2007       46316.28    46436.25
 177          April 2007  April 2007       43647.59    41913.05

                           DII Rs Crores
     Net Purchase / Sales Gross Purchase Gross Sales Net Purchase / Sales
 0              -41346.35      141934.87   120006.47             21928.40
 1              -35493.59      136077.68   104846.63             31231.05
 2              -39901.92      136049.58   105489.31             30560.27
 3              -25572.19      151607.74   147136.75              4470.99
 4                 913.77      144147.33   138198.48              5948.85
 ..                   ...            ...         ...                  ...
 173            -12338.47       26496.41    17347.14              9149.27
 174              7868.85       23643.81    24231.23              -587.42
 175             -1361.25       19374.66    14814.40              4560.26
 176              -119.97       21959.33    18974.43              2984.90
 177              1734.54       10137.73     9280.07               857.66

 [178 rows x 7 columns]]

In [72]:
df

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [71]:
df.describe()

# describe gives  information about columns having int and float 
# thus we get 25th percentile position data index data after sorting the data
# similar to power bi  fast column quality check 
# this gives us a quick view of the quality of data , no of null , nan values ,

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000